
@media (max-width: 500px) {
    nav {
        width: 73px;
    }
    nav.close {
        width: 73px;
    }
    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }
    nav~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }
    nav~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }
    .dashboard .top .sidebar-toggle {
        display: none;
    }

    table{
        max-width: 100%;
    }

    .list-product {
        display: unset;
        z-index: 2;
    }

    .table-list{
        margin-top: 30px;
        overflow-x: scroll;
    }

}