@media (max-width: 500px) {
    nav {
        width: 73px;
    }
    nav.close {
        width: 73px;
    }
    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }
    nav~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }
    nav~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }
    .dashboard .top .sidebar-toggle {
        display: none;
    }

    .return__btn .return__link, 
    .edit__product-btn{
        font-size: 16px;
    }

    .edit-logo{
        margin-right: 10px;
    }

    .edit-logo i{
        font-size: 20px;
        display: inline-block;
        transform: translateY(-1px);
    }

    table{
        min-width: 1000px;
    }

    .list-product {
        z-index: 2;
        flex-direction: column-reverse;
    }

    .table-list{
        width: 100%;
        margin-top: 30px;
        overflow-x: scroll;
    }

    .button-wrap{
        width: 100%;
    }

    .button-delete,
    .button-add{
        width: 94%;
    }

    .edit-wrapper{
        overflow-y: scroll;
    }

    .edit__product-container{
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-top: 34px;
        padding: 10px;
    }

    .edit__product-form{
        display: unset;
    }
    
    label{
        font-size: 16px;
    }

    .form__input{
        width: 100%;
        padding: 0;
    }

    .check__wrap{
        width: 100%;
    }

    .price,
    .promotional-price,
    .product__introduce,
    .product-ID,
    .product-name{
        margin-top: 15px;
        width: 100%;
    }

    .add__img{
        width: 150px;
        height: 150px;
    }

    .product__img{
        display: inline-block;
    }

    .product__img div p{
        font-size: 16px;
        margin-bottom: 10px;
        text-align: left;
    }

    .add__img div{
        display: block;
        font-weight: 500;
    }

    .add__img-btn{
        display: none;
    }

    .add__img{
        display: flex;
        flex-direction: column;
    }

    .save{
        margin-top: 0;
    }
}