/* PC */
@media (min-width: 1024px){
   .menu-btn{
       display: none;
   }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    #header{
        display: block;
        scroll-padding-top: 60px;
    }

    .header__sub--contacts{
        max-width: 100%;
    }
    
    .header__sub--contacts .header__sub--inner{
        width: 100%;
        max-width: 100%;
    }

    .header__sub--numbers,
    .header__sub--email,
    .header__sub--delivery{
        padding-right: unset;
    }

    .header__container{
        background: black;
    }

    .header__inner{
        width: 100%;
        padding: 15px;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-between; 
    }

    .menu-btn{
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.8;
        color: white;
    }
    
    .menu-icon{
        margin-right: 6px;
    }

    .header__nav{
        display: unset;
        max-width: 100%;
    }

    .header__nav .header__nav--list{
        display: initial;
    }

    .header__nav--item .header__nav--link,a{
        color: white;
    }

    .header__nav--list .header__nav--item{
        position: relative;
        padding: 20px 0;
    }

    .header__nav--item .fa-sort-down{
        right: 93%;
        top: 34%;
    }

    .header__nav--link{
        width: 100%;
        display: inline-block;
    }

    .shop__sub--menu{
        width: 100%;
        text-align: center;
    }

    .shop__sub--item{
        box-shadow: 0 1px 2px #e0e0e0;
        line-height: 1.5;
    }

    .shop__sub--item a{
        display: block;
    }

    #vegetypes,
    .section{
        display: inline-block;
        max-width: 100%;
    }

    .vegetypes__container,
    .container{
        width: 100%;
        padding: 0;
    }

    .text-center img{
        object-fit: cover;
        object-position: center;
    }

    .product__row--list{
        max-width: 100%;
    }

    .product__inner{
        max-width: 46%;
        justify-content: space-between;
    }

    .deal-timer{
        width: 90%;
        display: block;
    }

    .time{
        padding-right: 0;
        margin-left: 0;
    }
    
    #deal__timer .time #days,
    #deal__timer .time #hours,
    #deal__timer .time #minutes,
    #deal__timer .time #second{
        font-size: 30px;
        color: black;
    }

    .partner__logo .partner{
        object-fit: cover;
    }

    .text-wrap{
        width: 100%;
        padding: 15px;
        text-align:justify;
    }

    .text-wrap p a{
        display: inline-block;
        margin-top: 20px;
        padding: 12px 48px;
    }

}

/* Mobile */
@media (max-width: 740px){
    .header__sub--contacts{
        width: 100%;
    }

    .header__sub--inner{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .header__sub--numbers,
    .header__sub--email,
    .header__sub--delivery{
        max-width: 100%;
        margin-bottom: 10px;
        padding: 0 15px;
        display: inline-block;
    }

    .header__sub--delivery .text{
        text-align: left;
    }

    .menu-btn{
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.8;
        margin-top: 15px;
        color: white;
    }
    
    .menu-icon{
        margin-right: 6px;
    }

    .header__sub--contacts .header__sub--inner{
        width: 100%;
        max-width: 100%;
    }

    .header__container{
        max-width: calc(100% - 30px);
        padding: 0 15px;
        background-color: black;
    }

    .header__inner .header__logo{
        margin-top: 10px;
    }

    .header__inner{
        width: 100%;
        padding: 0;
        margin: 0;
        flex-wrap: wrap; 
        justify-content: space-between;
        line-height: 1.8;
    }
    
    .header__nav .header__nav--list{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .header__nav--item .fa-sort-down{
        right: 330px;
        top: 36%;
    }

    .header__nav--list .header__nav--item{
        padding: 20px 0;
        line-height: 1.8;
    }

    .header__nav--item .header__nav--link,a{
        font-size: 11px;
        color: white;
    }

    .shop__sub--menu{
        width: 100%;
        text-align: center;
    }

    .shop__sub--item{
        box-shadow: 0 1px 2px #e0e0e0;
        line-height: 1.5;
    }

    .container{
        display: block;
        width: calc(100% - 30px);
    }

    .media__item{
        width: 100%;
        margin-bottom: 24px;
    }

    #vegetypes{
        display: inline-block;
    }

    .vegetypes__container{
        margin: 0;
        width: calc(100% - 30px);
        display: inline-block;
    }

    .vegetypes__inner{
        display: inline-block;
    }

    .vegetypes__row{
        display: block;
    }

    .vegetypes_column--center,
    .vegetype__column--right,
    .vegetypes_column--left{
        width: 100%;
        padding: 0;
    }

    .vegetypes_column--center{
        margin: 24px 0 ;
    }

    .text__sub p .shopnow__btn{
        padding: 12px 24px;
    }

    /* Start: OurProduct */
    .customer__heading h2,
    .product__heading h2{
        font-size: 28px;
    }

    .product__inner{
        max-width: none;
    }

    .product{
        box-shadow: 5px 10px 10px rgba(250, 250, 250, 0.6);
    }

    /* End: OurProduct */

    .deal{
        justify-content: flex-start;
    }

    .deal__content{
        width: 100%;
        padding: 0;
    }

    .deal-timer{
        width: 50%;
    }
 
    #deal__timer .time #days,
    #deal__timer .time #hours,
    #deal__timer .time #minutes,
    #deal__timer .time #second{
        padding-left: 0;
        color: black;
    }

    .time{
        padding-right: 0;
    }

    .customer__heading{
        width: 100%;
        padding: 15px 0;
    }

    .customer__stage{
        flex-wrap: wrap;
    }

    .personal__item{
        width: 100%;
        margin-right: 0 !important;
    }

    .partner__logo{
        text-align: center;
        /* margin-bottom: 50px; */
    }

    .partner{
        padding: 0;
    }

    .partners__row{
        display: unset;
    }

    .partner img{
        object-fit: cover;
        width: 80%;
        height: 80px;
    }

    .Email__content{
        flex-wrap: wrap;
        margin: 0;
    }

    .Email__form,
    .Email__item{
        width: 100%;
    }

    .Email__item{
        margin-bottom: 24px;
    }

    .mouse__up-and-down .fa-angle-up{
        font-size: 20px;
    }

    .footer__content{
        display: unset;
    }
    
    .col__text{
        margin: 0;
    }
    
    .footer__col{
        margin-bottom: 24px;
    }

    .end__inner{
        text-align: center;
    }

    .footer__item{
        display: block;
    }

    .end{
        margin-top: 58px;
    }
}