@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

:root{
    --primery-color: #82AE46;
    --text-color: #212529;
    --white-text: #fff;
    --lora-font: "Lora", Georgia, serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins" sans-serif ;
    scroll-behavior: smooth;
}

#header{
    width: 100%;
}

.header__sub--contacts{
    width: 100%;
    background-color: var(--primery-color);
    padding: 6px 0;
}

.header__sub--inner{
    color: white;
    width: 75%;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-grow: 1;
    padding: 0 15px;

}

.header__sub--icon i{
    font-size: 10px;
    margin-right: 8px;
}

.header__sub--numbers,
.header__sub--email,
.header__sub--delivery{
    padding-right: 24px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header__sub--numbers .text,
.header__sub--email .text{
    font-size: 11px;
}

.header__sub--delivery .text{
    font-size: 11px;
    width: calc(100% - 30px);
    text-align: right;
}

.header__container{
    width: 100%;
    display: flex;
    max-height: 100%;
    box-shadow: 0px 1px 2px rgba(211, 210, 210, 0.3);
    z-index: 3;
}

.header__inner{
    width: 75%;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 0 15px;
    align-items: center;
}

.header__inner .header__logo{
    padding: 5px 0;
    margin-right: 16px;
   
}

.header__inner .header__logo a{
    color: var(--primery-color);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
    letter-spacing: unset;
}

.header__inner .header__logo a:hover{
    color: black;
}

.header__nav{
    width: 100%;
    height: 100%;
    display: flex;
}

.header__nav .header__nav--list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

.header__nav--list .header__nav--item{
    padding: 24px 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__nav--item .header__nav--link,a{
    color: black;
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 2px;
}

.header__nav--item a{
    font-size: 11px;
    letter-spacing: unset;
}

.header__nav--item .fa-sort-down{
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 8px;
}

.dropdown{
    position: relative;
}

.header__nav--item.dropdown:hover .shop__sub--menu{
    display: block;
}

.header__nav--item .shop__sub--menu{
    background-color: white;
    position: absolute;
    min-width: 160px;
    font-size: 16px;
    margin: 2px 0 0;
    border-radius: 4px;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 1px 2px #e0e0e0;
    z-index: 1;
}

.shop__sub--menu::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 0;
}

.shop__sub--menu .shop__sub--item{
    padding: 10px 24px;
}

.shop__sub--item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.shop__sub--item:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.shop__sub--menu .shop__sub--item:hover{
    background-color: rgba(130, 174, 70, 0.8);
}

.shop__sub--item a{
    font-size: 14px;
    color: var(--text-color);
}

.about-us {
    width: 100%;
    height: 368px;
    position: relative;
}

.about-us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us .text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-us p {
    font-size: 20px;
    color: #fff;
    opacity: 0.9;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-us h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}

.description {
    background-color: #f8f9fa;
}

.row {
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
}

.col-1 {
    width: 40%;
}

.col-1 .text-wrap {
    margin-top: 80px;
    margin-left: 20px;
}

.col-1 .text-wrap span {
    font-size: 24px;
    color: #000;
}

.col-1 .text-wrap p {
    font-size: 18px;
    color: #000;
    opacity: 0.6;
    margin-top: 10px;
}

.col-2 {
    width: 60%;
    margin-top: -10%;
    margin-left: 48px;
    position: relative;
}

.col-2 .text-wrap {
    width: 568px;
}


.col-2 .text-wrap h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
}

.span-1 {
    margin: 24px 0px;
}

.span-1,
.span-2 {
    display: block;
    font-size: 18px;
    font-size: 18px;
    color: #000;
    opacity: 0.6;
    line-height: 1.4;
}

button {
    border: none;
    outline: none;
    padding: 10px 14px;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    background-color: var(--primery-color);
    border-radius: 28px;
}


.inpt-wrap {
    display: flex;
    width: 540px;
    height: 56px;
}

.inpt-wrap input {
    border: none;
    outline: none;
    width: 478px;
    padding: 0 20px;
    color: #000;
}

.subscribe {
    background-color: var(--primery-color);
    height: 48px;
    text-align: center;
    color: #fff;
    line-height: 48px;
    padding: 0 10px;
}


.col-2 .inpt-wrap {
    position: absolute;
    top: 534px;
    left: 64px;
}

.about-us__count {
    height: 324px;
    width: 100%;
    margin-top: 90px;
    position: relative;
    background-color: rgba(70, 130, 180, 0.8);
}

.about-us__count img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.counter .counter-up {
    /* background-color: red; */
    text-align: center;
    padding: 20px;
}

.counter-up {
    margin: 0 50px;
}

.content .counter-up:first-child {
    padding: 0 100px;
}

.counter-up p {
    margin-bottom: 16px;
    font-size: 32px;
}


.counter-up span {
    color: rgba(0,0,0,.7);    
    opacity: 0.8;
    font-size: 16px;
}

.feedback {
    background-color: #f8f9fa;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-wrap {
    width: 80%;
    margin: auto;
}

.testimony-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.testimony {
    text-align: center;
    width: 600px;
}

.testimony p {
    color: var(--primery-color);
    font-size: 22px;
}

.testimony h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 32px 0;
}

.testimony h2 {
    font-size: 18px;
    color: rgba(0,0,0,.7);    
    line-height: 1.6;
}

.text-box {
    position: relative;
    display: block;
    margin-top: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text-box .box {
    width: 400px;
    padding: 0 60px;
}

.text-box .box-1::before {
    position: absolute;
    content: "";
    height: 102px;
    width: 2px;
    top: 41%;
    left: 5%;
    background-color: #ccc;
}

.text-box .box-2::before {
    position: absolute;
    content: "";
    height: 102px;
    width: 2px;
    top: 41%;
    left: 38%;
    background-color: #ccc;
}

.text-box .box-3::before {
    position: absolute;
    content: "";
    height: 102px;
    width: 2px;
    top: 41%;
    left: 71%;
    background-color: #ccc;
}

.box-1 .text-1::after {
    position: absolute;
    content: "";
    height: 36px;
    width: 3px;
    top: 50%;
    left: 4.9%;
    background-color: var(--primery-color);
}

.box-2 .text-1::after {
    position: absolute;
    content: "";
    height: 36px;
    width: 3px;
    top: 50%;
    left: 37.9%;
    background-color: var(--primery-color);
}

.box-3 .text-1::after {
    position: absolute;
    content: "";
    height: 36px;
    width: 3px;
    top: 50%;
    left: 70.9%;
    background-color: var(--primery-color);
}

.box-4,
.box-5 {
    display: none;
}


.img-wrap {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.img-wrap img {
    width: 100%;
    height: 100%;
}

.text-box .text-1{
    margin: 40px 0 48px 0;
    line-height: 1.6;
    font-size: 18px;
    color: rgba(0,0,0,.7);
    text-align: center;
}

.text-box .text-2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.text-box span {
    color: rgba(0,0,0,.7);
}

.circle-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 3px;
    cursor: pointer;
}

.support {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 100px;
    background-color: rgb(240, 233, 233);
}

.support-degree {
    margin: 0 68px;
}

.ship-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.color-1 {
    background-color: pink;
    opacity: 0.8;
}

.color-2 {
    background-color: #ffc107;
    opacity: 0.8;
}

.color-3 {
    background-color: #007bff;
    opacity: 0.8;
}

.color-4 {
    background-color: #e83e8c;
    opacity: 0.8;
}

.ship-circle--text {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship-circle i {
    font-size: 28px;
    color: #fff;
}

.support p {
    margin-top: 18px;
    margin-bottom: 24px;
    font-size: 18px;
    display: block;
}

.support span {
    font-size: 14px;
    color: rgba(0,0,0,.7);
}




/* footer */
