:root{
    --primery-color: #82AE46;
    --text-color: #212529;
    --white-text: #fff;
    --lora-font: "Lora", Georgia, serif;
}

body{
    font-family: "Poppins", Arial, sans-serif;
    scroll-behavior: smooth;
    height: 100vh;
}

.wrapper {
    width: 100%;
}

#header{
    width: 100%;
}

.header__sub--contacts{
    width: 100%;
    background-color: var(--primery-color);
    padding: 6px 0;
}

.header__sub--inner{
    color: white;
    width: 75%;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-grow: 1;
    padding: 0 15px;
}

.header__sub--icon i{
    font-size: 10px;
    margin-right: 8px;
}

.header__sub--numbers,
.header__sub--email,
.header__sub--delivery{
    padding-right: 24px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header__sub--numbers .text,
.header__sub--email .text{
    font-size: 11px;
}

.header__sub--delivery .text{
    font-size: 11px;
    width: calc(100% - 30px);
    text-align: right;
}

.header__container{
    width: 100%;
    display: flex;
    max-height: 100%;
    box-shadow: 0px 1px 2px rgba(211, 210, 210, 0.3);
    z-index: 3;
    /* background: var(--white-text); */
}

.header__inner{
    width: 75%;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 0 15px;
    align-items: center;
}

.header__inner .header__logo{
    padding: 5px 0;
    margin-right: 16px;
   
}

.header__inner .header__logo a{
    color: var(--primery-color);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
    letter-spacing: unset;
}

.header__inner .header__logo a:hover{
    color: black;
}

.header__nav{
    width: 100%;
    height: 100%;
    display: flex;
}

.header__nav .header__nav--list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

.header__nav--list .header__nav--item{
    padding: 24px 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__nav--item .header__nav--link,a{
    color: black;
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 2px;
}

.header__nav--item a{
    font-size: 11px;
    letter-spacing: unset;
}

.header__nav--item .fa-sort-down{
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 8px;
}

.dropdown{
    position: relative;
}

.header__nav--item.dropdown:hover .shop__sub--menu{
    display: block;
}

.header__nav--item .shop__sub--menu{
    background-color: white;
    position: absolute;
    min-width: 160px;
    font-size: 16px;
    margin: 2px 0 0;
    border-radius: 4px;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 1px 2px #e0e0e0;
    z-index: 1;
}

.shop__sub--menu::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 0;
}

.shop__sub--menu .shop__sub--item{
    padding: 10px 24px;
}

.shop__sub--item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.shop__sub--item:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.shop__sub--menu .shop__sub--item:hover{
    background-color: rgba(130, 174, 70, 0.8);
}

.shop__sub--item a{
    font-size: 14px;
    color: var(--text-color);
}

/* Slider */

.slider {
    width: 100%;
    height: 368px;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 3px;
}

.slider-text span {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 8px;
}

.slider-text h1 {
    font-size: 32px;
    color: #fff;
    font-weight: 800;
}

/* Container */
.container {
    width: 100%;
    /* height: 500px;   */
    padding: 56px 0;
}

.container .row {
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
}

.container .row .col-1 {
    /* background-color: red; */
    width: 66%;
    height: 100%;
}

.container .row .col-2 {
    /* background-color: #212529; */
    width: 34%;
    height: 1000px;
}

.desciption {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 44px 0;
}

.desciption .image-wrap img {
    width: 276px;
    height: 246px;
    object-fit: cover;
}

.desciption .text-wrap {
    width: 100%;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.desciption .text-wrap p {
    font-size: 12px;
    margin-top: 10px;
}

.desciption .text-wrap p i {
    font-size: 10px;
    margin-left: 10px;
}

.desciption .text-wrap h1{
    font-size: 20px;
    margin: 20px 0;
    line-height: 1.6;
}

.desciption .text-wrap h1:hover {
    color: var(--primery-color);
    transition: all 0.2s linear;
}

.desciption .text-wrap h2 {
    line-height: 1.6;
    font-size: 16px;
    color: rgba(0, 0, 0 , 0.7);
    margin-bottom: 20px;
}

.desciption .text-wrap button {
    padding: 12px 26px;
    font-size: 16px;
    background-color: var(--primery-color);
    color: #fff;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}

.desciption .text-wrap button:hover {
    color: var(--primery-color);
    background: transparent;
    border: 1px solid var(--primery-color);
}

.involve {
    width: 80%;
    padding: 0 4px;
    margin-top: 70px;
}


.involve .input-wrap {
    width: 96%;
    height: 50px;
    border: 1px solid #ccc;
    margin-left: 4%;
}

.involve .input-wrap input {
    height: 100%;
    width: 70%;
    padding: 0 20px;
    border: none;
    outline: none;
}

.involve .input-wrap i {
    margin-left: 10px;
}

.involve .categories {
    width: 100%;
    margin-top: 80px;
}

.involve .categories h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.involve .categories .food {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgb(240, 234, 234);
} 

.involve .categories .food:last-child {
    border-bottom: none;
}

.involve .categories .food span {
    color: #ccc;
}

.blog {
    width: 100%;
    margin-top: 80px;
}

.blog h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.blog .desciption-2 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 44px 0;
}

.blog .desciption-2 .image-wrap-2 img {
    width: 78px;
    height: 78px;
    object-fit: cover;
}


.blog .desciption-2 .text-wrap-2 {
    width: 100%;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
}


.blog .desciption-2 .text-wrap-2 h1{
    font-size: 18px;
    margin: 0px 0 10px 0;
    line-height: 1.6;
    font-weight: 300;
}

.blog .desciption-2 .text-wrap-2 h1:hover {
    color: var(--primery-color);
    transition: all 0.2s linear;
}

.icon-wrap {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 14px;
}

.icon-wrap--calender {
    display: flex;
    align-items: center;
}

.icon-wrap--calender p {
    font-size: 12px;
    margin-left: 4px;
}
.icon-wrap--calender i {
    font-size: 12px;
}

.icon-wrap--admin {
    margin: 0 10px;
}

.icon-wrap--admin {
    display: flex;
    align-items: center;
}

.icon-wrap--admin p {
    font-size: 12px;
    margin-left: 4px;
}
.icon-wrap--admin i {
    font-size: 12px;
}

.icon-wrap--text {
    display: flex;
    align-items: center;
}

.icon-wrap--text p {
    font-size: 12px;
    margin-left: 4px;
}
.icon-wrap--text i {
    font-size: 12px;
}


.cloud {
    width: 100%;
    margin-top: 80px;
}

.cloud h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.fruit-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.fruit {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 8px;
    margin: 4px 4px;
    font-weight: 300;
    font-size: 15px;
}

.paragraph {
    width: 91%;
    margin-top: 80px;
}

.paragraph h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.paragraph p {
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
    color: rgba(0, 0, 0 , 0.7);
    opacity: 0.8;
}

/* Footer */
.section{
    position: relative;
}
.mouse{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
}

.mouse__icon .mouse__up-and-down{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--white-text);
    border: 2px solid #82ae46;
    background: var(--primery-color);
    position: relative;
    margin: 0 auto;
}

.mouse__up-and-down .fa-angle-up{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: 1.6s ease infinite up-and-down;
}

@keyframes up-and-down{
    100%{
        margin-top: 2px;
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    0%{
        margin-top: 30px;
        opacity: 0;
    }
}

.footer__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;
}

.footer__col{
    padding: 0 15px;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

.col_text-question .col__heading,
.col__text .col__heading,
.col__text--helps .col__heading,
.col__text--vegefoods .col__heading{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer__item{
    display: inline-block;
}

.footer__menu--helps .footer__item a,
.footer__menu .footer__item a,
.col__text--vegefoods p{
    font-size: 14px;
    margin-bottom: 16px;
    color: #000000;
    line-height: 1.8;
    font-weight: 400;
}

.socials{
    display: flex;
    margin-top: 48px;
    margin-bottom: 16px;
}

.social__logo{
    margin: 0 10px 0 0;
}

.social__logo a{
    height: 50px;
    width: 50px;
    display: block;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
    position: relative;
}

.fa-twitter,
.fa-facebook-f,
.fa-instagram{
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col__text{
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}

.footer__item a,
.footer__menu .footer__item a{
    font-size: 14px;
    margin-bottom: 16px;
    color: #000000;
    line-height: 1.8;
    font-weight: 400;
}

.footer__menu--helps .footer__item,
.footer__menu .footer__item{
    display: block;
    padding: 8px 0;
}

.footer__menu--helps .footer__item a
.footer__menu .footer__item a{
    font-weight: 400;
}

.footer__helps--row{
    display: flex;
}

.footer__item .question-icon{
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
}

.footer__item .question-icon,
.footer__item .question__contact{
    display: table-cell;
}

.footer__item .question__contact{
    line-height: 1.8;
    font-size: 14px;
}

.end__inner{
    font-size: 14px;
    line-height: 1.5;
}

.end__inner p span{
    color: var(--primery-color);
    cursor: pointer;
}

a{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: normal;
}

.section{
    width: 100%;
    padding: 90px 0;
    display: block;
    position: relative;
    background: #f7f6f2;
}

.section .container {
    width: 75%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

/* End: Footer */








