:root{
    --primery-color: #82AE46;
    --text-color: #212529;
    --white-text: #fff;
    --lora-font: "Lora", Georgia, serif;
    --lightgray-color: #e6e6e6;
}

body{
    font-family: "Poppins", Arial, sans-serif;
}

.mb-4{
    margin-bottom: 24px !important; 
}

.mb-48{
    margin-bottom: 48px !important;
}

.mb-15{
    margin-bottom: 15px !important;
}

.pl-16{
    padding-left: 16px !important;
}

.mr-30{
    margin-right: 30px !important;
}

.mr-24{
    margin-right: 24px !important;
}

.pl-24{
    padding-left: 24px !important;
}

.section{
    width: 100%;
    padding: 90px 0;
    display: block;
}

/* Start:Header */
#header{
    width: 100%;
}

.header__sub--contacts{
    width: 100%;
    background-color: var(--primery-color);
    padding: 6px 0;
}

.header__sub--inner{
    color: white;
    width: 75%;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-grow: 1;
    padding: 0 15px;
}

.header__sub--icon i{
    font-size: 10px;
    margin-right: 8px;
}

.header__sub--numbers,
.header__sub--email,
.header__sub--delivery{
    padding-right: 24px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header__sub--numbers .text,
.header__sub--email .text{
    font-size: 11px;
}

.header__sub--delivery .text{
    font-size: 11px;
    width: calc(100% - 30px);
    text-align: right;
}

.header__container{
    width: 100%;
    display: flex;
    max-height: 100%;
    box-shadow: 0px 1px 2px rgba(211, 210, 210, 0.3);
    z-index: 3;
}

.header__inner{
    width: 75%;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 0 15px;
    align-items: center;
}

.header__inner .header__logo{
    padding: 5px 0;
    margin-right: 16px;
   
}

.header__inner .header__logo a{
    color: var(--primery-color);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
    letter-spacing: unset;
}

.header__inner .header__logo a:hover{
    color: black;
}

.header__nav{
    width: 100%;
    height: 100%;
    display: flex;
}

.header__nav .header__nav--list{
    display: flex;
    margin-left: auto;
}

.header__nav--list .header__nav--item{
    padding: 24px 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__nav--item .header__nav--link,a{
    color: black;
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 2px;
}

.header__nav--item a{
    font-size: 11px;
    letter-spacing: unset;
}

.header__nav--item .fa-sort-down{
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 8px;
}

.dropdown{
    position: relative;
}

.header__nav--item.dropdown:hover .shop__sub--menu{
    display: block;
}

.header__nav--item .shop__sub--menu{
    background-color: white;
    position: absolute;
    min-width: 160px;
    font-size: 16px;
    margin: 2px 0 0;
    border-radius: 4px;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 1px 2px #e0e0e0;
    z-index: 1;
}

.shop__sub--menu::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 0;
}

.shop__sub--menu .shop__sub--item{
    padding: 10px 24px;
}

.shop__sub--item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.shop__sub--item:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.shop__sub--menu .shop__sub--item:hover{
    background-color: rgba(130, 174, 70, 0.8);
}

.shop__sub--item a{
    font-size: 14px;
    color: var(--text-color);
}

/* End: Header */

/* Start: Slider */
#slider{
    width: 100%;
    overflow: hidden;
    padding: 150px 0;
    background-image: url(../img/Slider/anh1.webp);
    background-size: cover;
    background-position: center;
}

.container{
    width: 75%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slider__text {
    text-align: center;
    line-height: 1.5;
}

.slider__text .slider__subheading a{
    margin-right: 8px;
}

.slider__text .slider__subheading a,
.slider__text .slider__subheading{
    font-size: 12px;
    font-weight: 300px;
    color: var(--white-text);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.slider__heading{
    color: var(--white-text);
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* End: Slider */

/* Start: All Products */
#ourProduct{
    width: 100%;
    padding: 90px 0;
}

.product__menu{
    width: 100%;
    justify-content: center;
}

.product__category{
    text-align: center;
    margin-bottom: 16px;
}

.product__category li{
    display: inline-block;
    padding: 5px 20px;
    line-height: 1.5;
    transition: 0.3s;
}

.product__category li:hover{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product__category li a{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    color: var(--primery-color);
    display: inline-block;
}

.container .product__row--list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product__inner{
    max-width: calc((100% /4) - 30px);
    padding: 0 15px;
}

.product{
    margin-bottom: 30px;
    border: 1px solid #f0f0f0;
    transition: 0.4s;
}

.product:hover{
    box-shadow: 5px 10px 10px rgba(250, 250, 250, 0.6);
}

.product:hover .product__options{
    opacity: 1;
}

.product__img{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}

.product__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.product__img:hover img{
    transform: scale(1.1);
}

.product__status{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primery-color);
    color: var(--white-text);
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: normal;
}

.product__text{
    padding: 16px  16px 24px 16px;
    text-align: center;
    position: relative;
}

.product__text h3{
    margin-bottom: 5px;
    line-height: 1.5;
}

.product__text h3 a{
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.price{
    line-height: 1.8;
}

.price .cost{
    color: #b3b3b3;
    margin-right: 8px;
    text-decoration: line-through;
}

.price .price__sale{
    color: #82ae46;
}

.product__options{
    background: var(--white-text);
    position: absolute;
    top: 40px;
    bottom: 15px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

.product__item{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.add-to-cart,
.buy-now,
.heart{
    background:var(--primery-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 4px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.add-to-cart span,
.buy-now span,
.heart span{
    color: var(--white-text);
}

.number__next{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.number__inner ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--lightgray-color);
    border-radius: 50%;
    transition: 0.3s;
    position: relative;
}

.number__inner ul li:hover{
    background:var(--primery-color);
}

.number__inner ul li a{
    color: black;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* End: All Products */

/* Start:Email */
.no-pt{
    padding-top: 0 !important;
}

.no-pb{
    padding-bottom: 0 !important;
}

.gb-email{
    background: #f7f6f2!important;
}

.pd-top-bottom{
    padding: 24px 0px
} 

.Email__content{
    width: 100%;
    margin: 0 -15px;
    display: flex;
    padding: 3rem 0;
}

.Email__form,
.Email__item{
    width: 50%;
    line-height: 1.5;
    padding: 0 15px;
}

.Email__item h2{
    font-size: 22px;
}

.Email__item span{
    color: gray;
}

.Email__form{
    align-items: center;
    flex-wrap: wrap;
}

.subscribe__form{
    width: 100%;
    display: block;
}

.subscribe__form div{
    display: flex;
    border: none;
    background: var(--white-text);
}

.form__control{
    background: var(--white-text);
    width: 100%;
}

.form__input input{
    background: var(--white-text);
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    font-weight: 300;
}

.form__input .form__control{
    height: 38px;
    width: 100%;
    padding: 6px 12px;
}

.form__input .Submit{
    background:var(--primery-color);
    font-size: 12px;
    padding: 1px 16px;
    color: var(--white-text);
    border-left: 1px solid #82ae46;
    transition: 0.3s;
}

.form__input .Submit:hover{
    opacity: 0.8;
    transform: scale(0.98);
}
/* End: Email */

/* Start: Footer */
.section{
    position: relative;
}
.mouse{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
}

.mouse__icon .mouse__up-and-down{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--white-text);
    border: 2px solid #82ae46;
    background: var(--primery-color);
    position: relative;
    margin: 0 auto;
}

.mouse__up-and-down .fa-angle-up{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: 1.6s ease infinite up-and-down;
}

@keyframes up-and-down{
    100%{
        margin-top: 2px;
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    0%{
        margin-top: 30px;
        opacity: 0;
    }
}

.footer__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;
}

.footer__col{
    padding: 0 15px;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

.col_text-question .col__heading,
.col__text .col__heading,
.col__text--helps .col__heading,
.col__text--vegefoods .col__heading{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer__item{
    display: inline-block;
}

.footer__menu--helps .footer__item a,
.footer__menu .footer__item a,
.col__text--vegefoods p{
    font-size: 14px;
    margin-bottom: 16px;
    color: #000000;
    line-height: 1.8;
    font-weight: 400;
}

.socials{
    display: flex;
    margin-top: 48px;
    margin-bottom: 16px;
}

.social__logo{
    margin: 0 10px 0 0;
}

.social__logo a{
    height: 50px;
    width: 50px;
    display: block;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
    position: relative;
}

.fa-twitter,
.fa-facebook-f,
.fa-instagram{
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col__text{
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}

.footer__item a,
.footer__menu .footer__item a{
    font-size: 14px;
    margin-bottom: 16px;
    color: #000000;
    line-height: 1.8;
    font-weight: 400;
}

.footer__menu--helps .footer__item,
.footer__menu .footer__item{
    display: block;
    padding: 8px 0;
}

.footer__menu--helps .footer__item a
.footer__menu .footer__item a{
    font-weight: 400;
}

.footer__helps--row{
    display: flex;
}

.footer__item .question-icon{
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
}

.footer__item .question-icon,
.footer__item .question__contact{
    display: table-cell;
}

.footer__item .question__contact{
    line-height: 1.8;
    font-size: 14px;
}

.end__inner{
    font-size: 14px;
    line-height: 1.5;
}

.end__inner p span{
    color: var(--primery-color);
    cursor: pointer;
}

a{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: normal;
}
/* End: Footer */

