@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #82ae46;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --box4-color: rgb(111, 236, 236);
    --title-icon-color: #fff;
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body {
    min-height: 100vh;
}

body.dark {
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: rgb(18, 170, 69);
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --box4-color: #3A3B3C;
    --title-icon-color: #CCC;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
}

/* .app {
    display: flex;
} */

/* Nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-name a{
    text-decoration: none;
}

nav .logo-name .logo_name {
    font-size: 30px;
    font-weight: 600;
    color: #82ae46;
    margin-left: 20px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

.menu-items li a i {
    font-size: 20px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 1;
}

nav.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .fa-bars {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
    z-index: 1;
}

.top img {
    width: 40px;
    border-radius: 50%;
}
/* Content */
.content {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header .avatar img {
    width: 50px;
    padding: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.form-control {
    width: 400px;
    height: 44px;
    border: 1px solid #000;
    margin: auto;
}

.form-control i {
    font-size: 20px;
    margin-left: 10px;
}

.form-control input {
    width: 80%;
    height: 90%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}

.menu-product {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.menu-product .icon-wrap {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #82ae46;
    text-align: center;
    border-radius: 10px;
}

.menu-product .icon-wrap i {
    font-size: 20px;
    color: #fff;
}

.menu-product p {
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
}

.list-product {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

table {
    width: 70%;
    border: 1px solid var(--toggle-color);
    border-radius: 5px;
}

thead {
    border-color: #3A3B3C;
    background-color: #82ae46;
}

.tr1 {
    text-align: center;
}

.tr1 th {
    color: var(--title-icon-color);
    padding: 0 20px;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
}

.tr1 th:first-child{
    border-top-left-radius: 5px;
}

.tr1 th:last-child{
    border-top-right-radius: 5px;
}

.tr-similar {
    text-align: center;
}

.tr-similar td {
    height: 50px;
}

.delete i{
    color: #000;
    font-size: 26px;
    transition: 0.3s;
}

.delete i:hover {
    cursor: pointer;
    color: rgb(197, 20, 20);
}

tbody {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.button-wrap {
    width: calc(100% - 70%);
    margin-left: 20px
}

.button-add .button-add-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

.button-add {
    width: 80%;
    background-color: bisque;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
}

.button-add:hover {
    cursor: pointer;
    background-color: #f0af64;
}

.button-add i {
    font-size: 30px;
    color: #000;
    margin-right: 20px;
}

.button-add p {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.button-delete .button-delete-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    color: #000;
}

.button-delete{
    width: 80%;
    background-color: rgb(73, 120, 247);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    transition: 0.5s;
}

.button-delete i {
    font-size: 30px;
    margin-right: 20px;
}

.button-delete p {
    font-size: 20px;
    font-weight: 600;
}

.button-delete:hover {
    background-color: rgb(77, 97, 225);
    cursor: pointer;
}